#matplotlib
#the matplotlib install makes spinning up the docker container hang then fail
#Not entirely sure why (has to do with the image (alpine) according to some
#quick googling)
flask #webapp is built on flask
requests
networkx
typing
pytest
